#body {
  padding: 0.2rem 0.02rem 0;
}
#body ul li {
  margin: 0.15rem 0.05rem;
  display: flex;
  justify-content: center;
  padding: 0.05rem !important;
  border: 1px solid #e8e8e8;
  border-radius: 0.05rem;
}
#body ul li section {
  flex-grow: 1;
}
#body ul li .left {
  padding: 0.05rem;
  box-sizing: border-box;
  border-right: 1px solid #e8e8e8;
  position: relative;
}
#body ul li .left .name {
  display: flex;
  align-items: center;
}
#body ul li .left .name .ti {
  padding: 0.02rem !important;
  margin-right: 0.04rem;
  width: 0.35rem;
}
#body ul li .left .name .iner {
  font-size: 0.16rem;
  font-weight: bold;
  max-width: 1.1rem;
}
#body ul li .left .attr > span {
  display: block;
  margin: 0.04rem 0;
}
#body ul li .left .attr > span span:first-child {
  display: inline-block;
  padding: 0.02rem !important;
  width: 0.35rem;
  background: #4583eb !important;
}
#body ul li .left .attr > span span:last-child {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.04rem;
  max-width: 1rem;
}
#body ul li .left .desc {
  margin-top: 0.1rem;
  min-width: 1.55rem;
  max-width: 1.4rem;
  position: absolute;
  bottom: 0;
  min-height: 0.3rem;
  max-height: 0.4rem;
  white-space: normal!important;
  display: flex;
  align-items: center;
  overflow: scroll!important;
}
#body ul li .mid,
#body ul li .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#body ul li .mid {
  border-right: 1px solid #e8e8e8;
  padding: 0.05rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}
#body ul li .mid .rate:first-child {
  color: green;
}
#body ul li .mid .rate:nth-child(2) {
  color: red;
}
#body ul li .mid .rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#body ul li .mid .rate span {
  width: 50%;
  text-align: center;
}
#body ul li .mid .rate span i {
  padding-right: 0.02rem;
}
#body ul li .mid .rate span:first-child {
  font-weight: bold;
  width: 100%;
}
#body ul li .mid button {
  background: none;
  border: none;
  margin-top: 0.1rem;
  color: #333 !important;
}
#body ul li .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#body ul li .right button {
  margin: 0.05rem 0;
  font-size: 0.12rem;
  padding: 0.05rem 0.1rem;
  background: #4583eb !important;
}
