.no-padding  {
	padding: 0!important;
}


/*排版*/
.padding1 {
	padding: 1!important;
}

.padding3 {
	padding: 3!important;
}

.padding5 {
	padding: 5!important;
}

/*颜色*/
.light_fc {
	color: #999;
}
.n_light {
	color: #666;
}
.red {
	color: red;
}
.green {
	color: green;
}

/*display*/
.inline {
	display: inline-block;
}

.textFlow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.label{
	
	padding: 6px,8px !important;
}

